body
  background #f2f2f2
  .old_user_login
    width 100%
    height 155px
    background #fff
    position relative
    .acct_top_back
      width 26px
      height 26px
      border-radius 50%
      position absolute
      left 45px
      top 46px
      border 1px solid #3aad36
    .acct_top_back::after
      content ''
      width 14px
      height 14px
      border-left 1px solid #3aad36
      border-top 1px solid #3aad36
      position absolute
      left 10px
      top 5px
      transform rotate(-45deg)
    .acct_top_show
      width 130px
      height 67px
      display inline-block
      position absolute
      top 30%
      left 50%
      margin-left -56px
      border 0
  .bg-wrap
    background 76.4%
    height 560px
    background-image url('../../components/mylife/2.jpg')
    background-size 100% 100%
    .login_content
      width 100%
      height 357px
      box-sizing border-box
      h1
        width 100%
        text-align center
        color #037049
        font-size 20px
        line-height 92px
      .multi
        width 90%
        margin 0 auto
        height 54px
        border-bottom 1px solid #dbdbdb
        position relative
        .field_ipt
          outline none
          font-size 16px
          width 100%
          background transparent
          height 54px
        .fidld_skip
          display inline-block
          position absolute
          font-size 16px
          color #3aad36
          border 1px solid #3aad36
          border-radius 4px
          padding 8px 16px
          text-align center
          top 10px
          right 0
          a
            line-height 16px
            display inline-block



      .set_link
        width 90%
        margin 0px auto
        font-size 16px
        position relative
        box-sizing border-box
        height 54px
        display flex
        align-items center


        .problem_contact_service
          color #666666
          font-size 15px
          line-height 18px
          position absolute
          a
            color #3ea438
            line-height 21.6px
            letter-spacing 1px
            margin 0 0 43.2px
        .jiantou
          width: 8px;
          height: 8px;
          display: block;
          position: absolute;
          right: 0;
          top: 22px;
          border-top: 1px solid;
          border-right: 1px solid;
          color #3ea438
          transform rotate(45deg)

        .passWord
          display block
          line-height 18px
          position absolute
          right 8px
          top 18px
          color #3ea438

.btn_login
  width 80%
  text-align center
  font-size 19px
  line-height 38.88px
  background-color #3aad36
  color #fff
  border 1px solid #3aad36;
  border-radius 5px
  letter-spacing 20px
  display block
  margin 0 auto
.btn_regisiter
  width 80%
  text-align center
  font-size 19px
  line-height 38.88px
  background-color #8a8a8a
  color #fff
  border 1px solid #8a8a8a;
  border-radius 5px
  letter-spacing 20px
  margin 10px auto 0
  display block







