.stroll-header{
  width 100%;
  overflow hidden
}
.header-content{
  width 100%
  margin 0 auto;
}
/*头部的样式*/
header{
  background #89be48
  top 0
  padding 0
  z-index 999
  position fixed
  width 100%
}

/*头部的样式*/
.header-title{
  margin 0 auto
  line-height 48px
  font-size 24px
  text-align center
  color #fff
  white-space nowrap
  text-overflow ellipsis
  overflow hidden
  width 80%
}

/*图片的样式*/
.content1{
  margin-top 48px
  width 100%

}
.content{
  overflow hidden
}
.clearFix {
  background #fff
  width 100%
}

.stroll-all-item {
  width 50%
  float left
}
.stroll-item{
  margin 3%
  width 94%
}
.stroll-type-item{
  margin 0 1%
}
.stroll-item-layer{
  border-radius 8px
}

/*图片的样式*/
.stroll-item-layer img{
  width 172px
  height 223px
  border-radius 10px
}

/*image下面的new*/
.stroll-item .tag-new{
  max-width 94%
  display inline-block
  text-align left
  color #fff
  line-height 16px
  padding 0 6px
  left 0
  top 10px
  white-space nowrap
  text-overflow ellipsis
  z-index 6
  background-color #79da87
  position absolute
}

.stroll-item .stroll-item-layer{
  position relative
}

h3{
  font-weight 400
}
/*字体外面包的那一层的样式*/
.stroll-item-title{
  font-size 12px
  padding 6px 0 2px
  white-space nowrap
  text-overflow ellipsis
  overflow hidden
}
.stroll-item-title{
  color #333
  font-size 16px
}


/*一行字整体的样式*/
.stroll-price-bar{
  width 100%
  font-size 10px
  height 18px
  text-align left
}

/*当前的价格*/
.stroll-price-bar .price{
  font-size 18px
  line-height 18px
  display inline-block
  color #ff475d
  font-weight 400
  width auto
  text-align left
}

/*之前的价格*/
.stroll-price-bar .original{
  font-size 10px
  display inline-block
  color #888
  text-decoration line-through
  margin-left 5px
}

/*月销量*/
.stroll-price-bar .comment{
  font-size 16px
  line-height 18px
  width auto
  float right
  display inline-block
  text-align right
  white-space nowrap
  text-overflow ellipsis
  color #999
  overflow hidden
}

/*右侧的*/
.cat-menu-a{
  width 47%
  background-color #eaeaea
  border 0
  border-radius 8px
  vertical-align middle
  font-size 16px
  color #4a4a4a
  padding 10px 0.5%
  margin 1%
  float left
  text-align center
  min-height 36px
  display flex
}

.cat-menu-a span{
  margin auto
}
.stroll-type-item{
  overflow hidden
}
